<center><strong><h1>Resume Pertemuan 3 </h1></strong></center>
<center><strong><h1>Algoritma dan Pemrograman</h1></strong></center>
<p style="margin-left:40%;font-size:20px;font-weight:600;color:blue;"> Nurul Jannah</p>
<p style="margin-left:38.5%;font-size:20px;font-weight:600;color:blue;"> 11160940000080</p>

## Bekerja dengan List dan Tuples

### A. Looping pada elemen list

Perulangan ( _looping_ ) adalah mengeksekusi perintah tertentu secara berulang-ulang dan jumlah perulangan dapat diatur sendiri sesuai dengan keinginan. Tujuan perulangan adalah agar tidak menuliskan perintah secara berulang-ulang.[1]

Di dalam bahasa pemrograman Python pengulangan dibagi menjadi 3 bagian, yaitu:
* While Loop
* For Loop
* Nested Loop

Kali ini akan dibahas lebih lanjut mengenai perulangan **for**. Perulangan **for** pada Python memiliki kemampuan untuk mengulangi item dari urutan apapun, seperti list atau string.[2]

**Contoh:** Misalkan kita memiliki daftar destinasi tempat yang ingin dikunjungi. Kemudian kita ingin **print** daftar destinasi tersebut satu persatu. Maka kode di Pythonnya adalah:

In [1]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']      # (1)
for i in place:                                                 # (2)
    print(i)                                                    # (3)

makkah
swis
london
maldives
lombok

**Penjelasan**: Dimulai dengan mendefinisikan suatu variabel 'place' sebagai list pada (1). Kemudian pada (2), didefinisikan pengulangan **for** yang artinya "masukan nilai-nilai yang ada pada elemen di list 'place' ke dalam variabel 'i'." Lalu pada (3) **print** nilai yang terdapat pada variabel i. Python melakukan pengulangan sampai elemen terakhir di list 'place'.

* Modifikasi **Contoh**: Keluaran dengan membentuk suatu kalimat dan menambahkan suatu variabel baru

In [3]:
number = 1
for i in place:
    print("Tempat ke " + str(number) + " yang ingin saya kunjungi adalah " + i.title())
    number += 1     # artinya number = number + 1

Tempat ke 1 yang ingin saya kunjungi adalah Makkah
Tempat ke 2 yang ingin saya kunjungi adalah Swis
Tempat ke 3 yang ingin saya kunjungi adalah London
Tempat ke 4 yang ingin saya kunjungi adalah Maldives
Tempat ke 5 yang ingin saya kunjungi adalah Lombok

In [4]:
number = 1
for i in place:
    print("Tempat ke " + str(number) + " yang ingin saya kunjungi adalah " + i.title())
number += 1

Tempat ke 1 yang ingin saya kunjungi adalah Makkah
Tempat ke 1 yang ingin saya kunjungi adalah Swis
Tempat ke 1 yang ingin saya kunjungi adalah London
Tempat ke 1 yang ingin saya kunjungi adalah Maldives
Tempat ke 1 yang ingin saya kunjungi adalah Lombok

Pada kode di atas terlihat bahwa variabel number tetap bernilai 1. Hal ini terjadi karena variabel tersebut (number += 1) tidak berada di dalam perulangan **for**. Akibatnya variabel number tidak dikenakan perulangan seperti yang seharusnya.

### Hati-hati Error!

Python menggunakan indentasi untuk menentukan apakah baris kode yang satu saling berhubungan dengan baris kode lain yang berada diatasnya (istilah ini disebut **indented block**). Biasanya error yang sering terjadi adalah **Indentation Error**. Perhatikan contoh berikut:

In [5]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']      # (1)
for i in place:                                                 # (2)
print(i)                                                        # (3)

IndentationError: expected an indented block (<ipython-input-5-ba75fc2d43a6>, line 3)

**Penjelasan**: Perintah **for** pada baris (2) berharap melakukan suatu perintah yang terletak pada berikutnya. Namun, karena baris (3) indentasinya sejajar pada baris (2) (astinya tidak berada dalam satu blok), maka tidak ada hubungan antara baris (2) dan (3). Sehingga terjadi **IndentationError**.

Error yang sering terjadi berikutnya adalah lupa tanda kolon ':' (titik dua) pada akhir perintah **for**. Jika hal ini terjadi maka akan terjadi **SyntaxError**, seperti:

In [6]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']      # (1)
for i in place                                                  # (2)
    print(i)                                                    # (3)

SyntaxError: invalid syntax (<ipython-input-6-c28a290bd137>, line 2)

### B. Membuat List Numerik

Sering kali kita membutuhkan List yang berisi bilangan yang berurutan. Kita bisa melakukannya dengna menggunakan fungsi **range()**, seperti:

In [9]:
for nilai in range (1,5):     # (1)
    print(nilai)              # (2)

1
2
3
4

**Penjelasan:** Pada baris (1), **range(1,5)** berarti membuat urutan angka dari 1 sampai dengan 4 yang disimpan di variabel 'nilai'. Kemudian lakukan perintah **print** pada baris (2). Perlu diperhatikan, **range(1,n)** berarti akan menghasilkan angka yang berurutan dari 1 sampai n-1

Struktur dari range() dapat ditulis dengan 3 cara, yaitu:
* range(nilai_awal, nilai_akhir, pencacah)
* range(nilai_awal, nilai_akhir)
* range(nilai_akhir)

**Contoh**: Penggunaan range(nilai_akhir)

In [10]:
for nilai in range(5):
    print(nilai)

0
1
2
3
4

**Ingat!** Indeks di Python diawali dengan indeks ke 0

**Contoh**: Penggunaan range(nilai_awal,nilai_akhir,pencacah)
  
 Berikut ini contoh penggunaan range untuk menampilkan bilangan dari 1-100 dengan penambahan/pencacah 1 dengan menambahkan **end=' '** agar bilangan tampil secara horizontal tidak pindah baris ke bawah [1]

In [12]:
for i in range(1,101,1) :
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

* Menampilkan bilangan dari 1-100 dengan penambahan/pencacah 2

In [13]:
for i in range(1,101,2) :
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

**Catatan**: Untuk penggunaan range(nilai_awal,nilai_akhir) maka pencacahnya akan secara otomatis bernilai 1.

* Membuat List yang berisi urutan angka dengan bantuan fungsi **range()**

In [1]:
number = list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

* Membuat List yang berisi urutan angka dengan bantuan fungsi **range()** dan mencari nilai terkecil dengan fungsi **min()**, terbesar dengan **max()**, dan jumlah dengan **sum()** dari setiap elemen-elemen dari List tersebut.

In [10]:
data = list(range(10,68))
nilai_min = min(data)
nilai_max = max(data)
jumlah = sum(data)

print(data, end=' ')
print("\n\nNilai terkecil: " + str(nilai_min))
print("Nilai terbesar: " + str(nilai_max))
print("Jumlah: " + str(jumlah))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67]

Nilai terkecil: 10
Nilai terbesar: 67
Jumlah: 2233

### C. Bekerja Dengan Sebagian Elemen List

Kegiatan mengakses sebagian elemen dari suatu list disebut **slice**. Untuk membuat _slice_, tentukan indeks pertama dan terakhir yang kamu inginkan/perlukan. Seperti fungsi **range()**, Python berhenti satu item sebelum indeks kedua yang ditentukan.[3]

In [11]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']      # (1)
print(place[0:3])                                               # (2) slice elemen ke 0 sampai ke 2

['makkah', 'swis', 'london']

* Memotong List tanpa menginput indeks awal dan/atau indeks akhirnya. **Contoh**:

In [12]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']
place1 = place[:2]   # slice dari elemen awal sampai ke 1
place2 = place[2:]   # slice dari elemen ke 2 sampai elemen terakhir
place3 = place[:]    # slice semua elemen

print("Output place1: ", place1)
print("Output place2: ", place2)
print("Output place3: ", place3)

Output place1:  ['makkah', 'swis']
Output place2:  ['london', 'maldives', 'lombok']
Output place3:  ['makkah', 'swis', 'london', 'maldives', 'lombok']

* Misalkan kita pisahkan atau kategorikan List 'place', apakah tempat tersebut merupakan tempat wisata dalam negeri atau luar negeri. Caranya:

In [15]:
place = ['makkah', 'swis', 'london', 'maldives', 'lombok']
Luar_negeri = place[0:3]
Dalam_negeri = place[4]

print("Wisata Luar Negeri: ", Luar_negeri)
print("Wisata Dalam Negeri: ", Dalam_negeri)

Wisata Luar Negeri:  ['makkah', 'swis', 'london']
Wisata Dalam Negeri:  lombok

### D. Multidimensional List

Multidimensional list adalah list di dalam list (dapat diilustrasikan sebagai matriks), place = [['makkah', 'swis', 'london'],['maldives','lombok']]. Ini berarti multidimensional list 'place' memiliki dua buah list yaitu list dengan indeks ke 0 dan list dengan indeks ke 1.

**Contoh**:

In [17]:
place = [['makkah', 'swis','london'],['maldives', 'lombok']]
print(place[1]) # (1)
print(place[1][0]) # (2)
print(place[0][:2]) # (3)

['maldives', 'lombok']
maldives
['makkah', 'swis']

**Penjelasan**: Pada kode baris (1), menampilkan nilai list ke 1 dari list dua dimensi place. Untuk mengakses list ke 1 kemudian akses elemen ke 0 dapat menggunakan kode (2). Kode di baris (3) digunakan untuk slice list ke 0, mulai dari elemen pertama sampai dengan ke 1

Misalkan kita ingin menampilkan output tiap-tiap elemen pada multidimensional list, maka kita dapat melakukannya dengan cara:

In [20]:
place = [['makkah', 'swis','london'],['maldives', 'lombok']]

for i in range(0, len(place)):
    for j in place[i]:
        print(j.title())

Makkah
Swis
London
Maldives
Lombok

### E. Tuples

Sebuah tuple adalah urutan objek Python yang tidak berubah. Tuple adalah urutan, seperti list. Perbedaan utama antara tuple dan list adalah bahwa tuple **tidak dapat diubah** tidak seperti list Python. Tuple menggunakan tanda kurung, sedangkan list menggunakan kurung siku.[4] Tuple dapat disebut juga **immutable list**. Biasanya tuple digunakan untuk mendefiniskan ukuran suatu array atau matriks. Membuat tuple semudah memasukkan nilai-nilai yang dipisahkan koma ini di antara tanda kurung juga.[4]

**Contoh**: Pembuatan Tuple

In [24]:
tup1 = ('fisika', 'kimia', 'biologi', 'matematika')
tup2 = "a", "b", "c", "d"

print(tup1)
print(tup2)

('fisika', 'kimia', 'biologi', 'matematika')
('a', 'b', 'c', 'd')

In [29]:
dimensions = (200, 100)
print(dimensions[0])
print(dimensions[1])

200
100

In [30]:
# Mengubah elemen di tuple dimensions

dimensions = (200, 100)
dimensions[0] = 250
print(dimensions[0])
print(dimensions[1])

TypeError: 'tuple' object does not support item assignment

Walaupun kita tidak dapat memodifikasi elemen di tuple, kita dapat menuliskan nilai baru ke tuple yang kita buat. Ini berarti, kita harus memodifikasi semua nilai di elemen tuple tersebut. **Contoh:**

In [32]:
dimensions = (200, 100)
print("Original dimensions: ")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400, 250)
print("\nModified dimensions: ")
for dimension in dimensions:
    print(dimension)

Original dimensions:
200
100

Modified dimensions:
400
250

### F. Referensi

[1] Irfani, H., & Dafid, D. (2016). BAHAN AJAR DASAR PEMROGRAMAN. 

[2] belajarpython.com. Loop Python. Diakses pada 27 Maret 2020, dari https://belajarpython.com/tutorial/loop-python

[3] Matthes, E. (2015). Python crash course: a hands-on, project-based introduction to programming. No Starch Press.

[4] belajarpython.com. Tuple Python. Diakses pada 28 Maret 2020, dari https://belajarpython.com/tutorial/tuple-python