<center><strong><h1>Resume Pertemuan 10 </h1></strong></center>
<center><strong><h1>Algoritma dan Pemrograman</h1></strong></center>
<p style="margin-left:40%;font-size:20px;font-weight:600;color:blue;"> Nurul Jannah</p>
<p style="margin-left:38.5%;font-size:20px;font-weight:600;color:blue;"> 11160940000080</p>

## Pandas

### A. Apa itu Pandas?

**Pandas** ( _Python for Data Analysis_ ) adalah library Python yang fokus untuk proses analisis data seperti manipulasi data, persiapan data, dan pembersihan data. Dalam **pandas** terdapat dua objek, yaitu _DataFrame_ dan _Series. DataFrame_ adalah objek yang memiliki struktur data tabular, berorientasi pada kolom dengan label baris dan kolom. Sedangkan _Series_ adalah objek array 1-dimensi yang memiliki label.

Untuk memulai, lakukan *import* terlebih dahulu library **pandas as pd**. Penggunaan *as* disini, artinya kita menggantikan pemanggilan **pandas** dengan *prefix* **pd** untuk proses berikutnya.

In [1]:
import pandas as pd

### B. Mengenal DataFrame

**DataFrame** merupakan tabel data yang terdapat kolom dan baris, dimana nilai-nilai yang terdapat di dalamnya dapat berupa tipe berbeda seperti _numeric, string, booelan,_ dll. DataFrame mirip dengan data 2-dimensi dengan adanya baris dan kolom. Selain itu, DataFrame bisa dikatakan gabungan dari _dictionary_ objek Series yang memiliki indeks yang sama.

Terdapat berbagai macam cara untuk membentuk objek DataFrame. Salah satu cara yang biasa dilakukan untuk membentuk objek DataFrame dengan menggunakan data masukan berupa *dictionary*.

**Membuat DataFrame sederhana**

In [2]:
import pandas as pd

pd.DataFrame(data = {'Minuman' : ['Bandrek', 'Kopi Hitam'],
                    'Harga' : [4500, 3200] })

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

**Mengenal index pada DataFrame**

Untuk mengakses indeks dari DataFrame menggunakan fungsi **index**.

In [3]:
pd.DataFrame(data = {'Budi' : ['suka', 'suka'],
                    'Wati' : ['tidak suka', 'suka']},
            index = ['Mangga', 'Jambu'])  # mengganti indeks sesuai dengan yang diinginkan

        Budi        Wati
Mangga  suka  tidak suka
Jambu   suka        suka

### C. Mengenal Series

**Series** adalah objek 1-dimensi yang berisi *sequence* dan berasosiasi dengan label data, yang disebut indeks. Untuk membuat sebuah Series, kita dapat membentuknya dari sebuah array dengan memanggil fungsi **Series** pada **pandas**.

In [4]:
pd.Series(data = [100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

In [5]:
pd.Series(data = [3000, 3500, 40000], index = ['Mangga', 'Pisang', 'Jambu'], name = 'Harga Buah')

Mangga     3000
Pisang     3500
Jambu     40000
Name: Harga Buah, dtype: int64

### D. Memuat File CSV ke dalam DataFrame

In [5]:
dataset = pd.read_csv('C:/Users/ASUS/OneDrive/Documents/dataset_superstore_simple.csv')
dataset.head()   # menampilkan 5 data teratas

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [9]:
dataset.head(10)  # menampilkan 10 data teratas

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164
5,CA-2014-115812,6/9/2014,BH-11710,Consumer,Furniture,Furnishings,48.8600,7,14.1694
6,CA-2014-115812,6/9/2014,BH-11710,Consumer,Office Supplies,Art,7.2800,4,1.9656
7,CA-2014-115812,6/9/2014,BH-11710,Consumer,Technology,Phones,907.1520,6,90.7152
8,CA-2014-115812,6/9/2014,BH-11710,Consumer,Office Supplies,Binders,18.5040,3,5.7825
9,CA-2014-115812,6/9/2014,BH-11710,Consumer,Office Supplies,Appliances,114.9000,5,34.4700

**Melihat dimensi DataFrame dengan attribute shape**

Fungsi **shape** dapat digunakan untuk mengetahui jumlah baris dan kolom dari DataFrame. Fungsi **shape** pada DataFrame memiliki hasil keluaran yang sama dengan fungsi **shape** pada NumPy, dimana menghasilkan keluaran sebuah _tuple_ dari jumlah baris dan jumlah kolom.

In [10]:
dataset.shape

(9988, 9)

**Menggunakan salah satu kolom sebagai index**

In [11]:
dataset = pd.read_csv('C:/Users/ASUS/OneDrive/Documents/dataset_superstore_simple.csv', index_col = 0)
dataset.head()

,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
order_id,,,,,,,,
CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [12]:
dataset.shape

(9988, 8)

### E. Menyimpan DataFrame ke dalam File CSV

In [13]:
minuman_df = pd.DataFrame(data = {'Minuman' : ['Bandrek', 'Kopi Hitam'],
                                 'Harga' : [4500, 3200]})
minuman_df

      Minuman  Harga
0     Bandrek   4500
1  Kopi Hitam   3200

In [15]:
minuman_df.to_csv('C:/Users/ASUS/OneDrive/Documents/minuman.csv')

**Menyimpan DataFrame ke dalam file CSV tanpa menyertakan index**

In [16]:
minuman_df.to_csv('C:/Users/ASUS/OneDrive/Documents/minuman.csv', index = False)

### F. Melakukan akses pada kolom DataFrame

In [19]:
dataset.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

Terkadang kita butuh mengakses kolom tertentu atau lebih spesifik elemen tertentu pada DataFrame. Untuk mengakses suatu data, alamat data tersebut adalah pada nama kolom sebagai petunjuk lokasi kolom dan indeks sebagai petunjuk lokasi baris.

Terdapat dua cara untuk melakukan akses kolom pada DataFrame

* **Cara 1: Sebagai atribute**

Untuk mengakses kolom pada DataFrame sebagai atribut, nama kolom tidak boleh mengandung spasi.

In [21]:
dataset.customer_id

0       CG-12520
1       CG-12520
2       DV-13045
3       SO-20335
4       SO-20335
          ...
9983    TB-21400
9984    DB-13060
9985    DB-13060
9986    DB-13060
9987    CC-12220
Name: customer_id, Length: 9988, dtype: object

* **Cara 2: Sebagai dictionary index**

Jika mengakses kolom pada DataFrame sebagai dictionary index, maka nama kolom boleh mengandung spasi.

In [22]:
dataset['customer_id']

0       CG-12520
1       CG-12520
2       DV-13045
3       SO-20335
4       SO-20335
          ...
9983    TB-21400
9984    DB-13060
9985    DB-13060
9986    DB-13060
9987    CC-12220
Name: customer_id, Length: 9988, dtype: object

In [23]:
dataset['customer_id'][0]

'CG-12520'

### G. Melakukan akses data pada DataFrame

Terdapat dua mekanisme untuk melakukan akses data pada DataFrame:
* index-based selection, dan
* label-based selection.

Kedua mekanisme akses ini mendahulukan baris ( _row_ ) baru diikuti kolom ( _column_ ).

**index-based selection**

Mekanisme ini dapat dilakukan dengan memanfaatkan method iloc.

In [24]:
# Mengakses data pada baris ke 0
dataset.iloc[0]

order_id        CA-2016-152156
order_date           11/8/2016
customer_id           CG-12520
segment               Consumer
category             Furniture
sub_category         Bookcases
sales                   261.96
quantity                     2
profit                 41.9136
Name: 0, dtype: object

In [25]:
# Mengakses data pada baris ke 2 kolom ke 0
dataset.iloc[2, 0]

'CA-2016-138688'

**Slicing pada iloc**

In [5]:
# Mengakses data pada semua baris kolom ke 0
dataset.iloc[:, 0]

0       CA-2016-152156
1       CA-2016-152156
2       CA-2016-138688
3       US-2015-108966
4       US-2015-108966
             ...
9983    CA-2014-110422
9984    CA-2017-121258
9985    CA-2017-121258
9986    CA-2017-121258
9987    CA-2017-119914
Name: order_id, Length: 9988, dtype: object

In [6]:
# Mengakses data pada baris ke 0 tujuh kolom pertama
dataset.iloc[0, :7]

order_id        CA-2016-152156
order_date           11/8/2016
customer_id           CG-12520
segment               Consumer
category             Furniture
sub_category         Bookcases
sales                   261.96
Name: 0, dtype: object

In [7]:
# Mengakses data pada baris index 1 sampai 3 kolom ke 0
dataset.iloc[1:3, 0]

1    CA-2016-152156
2    CA-2016-138688
Name: order_id, dtype: object

**Melewatkan list untuk melakukan akses data pada baris dan kolom tertentu dari DataFrame**

In [8]:
dataset.iloc[[0, 3, 8], 0]

0    CA-2016-152156
3    US-2015-108966
8    CA-2014-115812
Name: order_id, dtype: object

**Menggunakan negative index untuk melakukan akses data pada baris dan kolom tertentu dari DataFrame**

In [9]:
# Mengakses data 5 baris terakhir
dataset.iloc[-5:]

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
9983,CA-2014-110422,1/21/2014,TB-21400,Consumer,Furniture,Furnishings,25.248,3,4.1028
9984,CA-2017-121258,2/26/2017,DB-13060,Consumer,Furniture,Furnishings,91.960,2,15.6332
9985,CA-2017-121258,2/26/2017,DB-13060,Consumer,Technology,Phones,258.576,2,19.3932
9986,CA-2017-121258,2/26/2017,DB-13060,Consumer,Office Supplies,Paper,29.600,4,13.3200
9987,CA-2017-119914,5/4/2017,CC-12220,Consumer,Office Supplies,Appliances,243.160,2,72.9480

**label-based selection**

Mekanisme ini dapat dilakukan dengan memanfaatkan method loc.

In [10]:
# Mengakses baris ke 0 pada kolom customer_id
dataset.loc[0, 'customer_id']

'CG-12520'

In [11]:
dataset.loc[0:5, 'customer_id']

0    CG-12520
1    CG-12520
2    DV-13045
3    SO-20335
4    SO-20335
5    BH-11710
Name: customer_id, dtype: object

In [12]:
# Mengakses semua baris dengan kolom tertentu
dataset.loc[:, ['order_id', 'customer_id', 'sales']].head()

         order_id customer_id     sales
0  CA-2016-152156    CG-12520  261.9600
1  CA-2016-152156    CG-12520  731.9400
2  CA-2016-138688    DV-13045   14.6200
3  US-2015-108966    SO-20335  957.5775
4  US-2015-108966    SO-20335   22.3680

### Alternatif lain

Alternatif lain untuk melakukan akses data dapat dilakukan dengan model akses kolom-baris (column-row)

In [13]:
dataset[['customer_id', 'sales']][:].head()

  customer_id     sales
0    CG-12520  261.9600
1    CG-12520  731.9400
2    DV-13045   14.6200
3    SO-20335  957.5775
4    SO-20335   22.3680

In [14]:
dataset[['customer_id', 'sales']][:5]

  customer_id     sales
0    CG-12520  261.9600
1    CG-12520  731.9400
2    DV-13045   14.6200
3    SO-20335  957.5775
4    SO-20335   22.3680

### Mengganti index

In [3]:
dataset.set_index('order_id').head()
# df = dataset.set_index('order_id')  # Menghasilkan dataframe baru
# dataset.set_index('order_id', inplace = True) # tidak menghasilkan dataframe baru

,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
order_id,,,,,,,,
CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [4]:
dataset.reset_index().head()

,index,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

### H. Seleksi data pada DataFrame

**Conditional Selection**

In [10]:
# Mengakses kolom tertentu dengan nilai tertentu
dataset['segment'] == 'Corporate'

0       False
1       False
2        True
3       False
4       False
        ...
9983    False
9984    False
9985    False
9986    False
9987    False
Name: segment, Length: 9988, dtype: bool

In [11]:
dataset.loc[dataset['segment'] == 'Corporate'].head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.620,2,6.8714
21,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596
22,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Appliances,60.340,7,15.6884
35,CA-2016-117590,12/8/2016,GH-14485,Corporate,Technology,Phones,1097.544,7,123.4737
36,CA-2016-117590,12/8/2016,GH-14485,Corporate,Furniture,Furnishings,190.920,5,-147.9630

In [12]:
dataset.loc[(dataset['segment'] == 'Corporate') & (dataset['quantity'] >=5)].head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
21,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596
22,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Appliances,60.340,7,15.6884
35,CA-2016-117590,12/8/2016,GH-14485,Corporate,Technology,Phones,1097.544,7,123.4737
36,CA-2016-117590,12/8/2016,GH-14485,Corporate,Furniture,Furnishings,190.920,5,-147.9630
53,CA-2016-105816,12/11/2016,JM-15265,Corporate,Office Supplies,Fasteners,15.260,7,6.2566

In [13]:
dataset[(dataset['segment'] == 'Corporate') & (dataset['quantity'] >= 5)].head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
21,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Art,19.460,7,5.0596
22,CA-2016-137330,12/9/2016,KB-16585,Corporate,Office Supplies,Appliances,60.340,7,15.6884
35,CA-2016-117590,12/8/2016,GH-14485,Corporate,Technology,Phones,1097.544,7,123.4737
36,CA-2016-117590,12/8/2016,GH-14485,Corporate,Furniture,Furnishings,190.920,5,-147.9630
53,CA-2016-105816,12/11/2016,JM-15265,Corporate,Office Supplies,Fasteners,15.260,7,6.2566

### I. Mengenal beberapa built-in method

**Mengenal method isin**

In [14]:
# Mengakses data dengan category Furniture atau Office Supplies
dataset.loc[dataset['category'].isin(['Furniture', 'Office Supplies'])].head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

**Mengenal method isna dan notna**

In [15]:
# Mengidentifikasi nilai kosong (missing value)
# isna (is not available)
dataset[dataset['sales'].isna()].head()

Empty DataFrame
Columns: [order_id, order_date, customer_id, segment, category, sub_category, sales, quantity, profit]
Index: []

Tidak ada _missing value_ pada dataset

In [4]:
# Mengakses semua data yang kolom salesnya tidak kosong
dataset[dataset['sales'].notna()].head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

### J. Menambah kolom baru pada DataFrame

* Mendata seluruh kolom yang tersedia dengan attribute columns

In [16]:
# Mengakses daftar nama kolom
dataset.columns

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')

* Menambah kolom baru dengan nama rating dan diberi nilai satisfied

In [17]:
dataset['rating'] = 'satisfied'
dataset['rating'].head(10)

0    satisfied
1    satisfied
2    satisfied
3    satisfied
4    satisfied
5    satisfied
6    satisfied
7    satisfied
8    satisfied
9    satisfied
Name: rating, dtype: object

In [18]:
dataset.columns

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit', 'rating'],
      dtype='object')

* Menambah kolom baru dengan index_backwards dan diberi nilai bilangan bulat dari besar ke kecil sesuai dengan banyaknya jumlah baris

In [19]:
dataset['index_backwards'] = range(len(dataset), 0, -1)
dataset['index_backwards'].head()

0    9988
1    9987
2    9986
3    9985
4    9984
Name: index_backwards, dtype: int32

### K. Menghasilkan ringkasan (summary) data pada DataFrame

**Mengenal method describe, mean, unique, value_counts**

In [20]:
dataset.describe()
# mengembalikan sebuah data statistik deskriptif untuk setiap kolom yang bertipe data numerik
# count jumlah baris, mean rata-rata, std standar deviasi, min nilai terkecil, max nilai terbesar, 25% quartil pertama, 50% kedua, 75% ketiga

             sales     quantity       profit  index_backwards
count  9988.000000  9988.000000  9988.000000      9988.000000
mean    221.952598     3.789147    27.105341      4994.500000
std     514.818043     2.225586   186.115016      2883.431578
min       0.444000     1.000000 -3839.990400         1.000000
25%      17.248000     2.000000     1.730250      2497.750000
50%      54.376000     3.000000     8.652800      4994.500000
75%     209.814000     5.000000    29.345400      7491.250000
max    9892.740000    14.000000  4946.370000      9988.000000

In [28]:
# mengakses data deskriptif untuk kolom sales
dataset['sales'].describe()

count    9988.000000
mean      221.952598
std       514.818043
min         0.444000
25%        17.248000
50%        54.376000
75%       209.814000
max      9892.740000
Name: sales, dtype: float64

In [29]:
# mencari rata-rata untuk kolom sales
dataset['sales'].mean()

221.9525978474123

In [30]:
# method describe untuk kolom yang bertipe data non-numerik
dataset['customer_id'].describe()
# count jumlah baris, unique jumlah customer_id yg unique atau tidak terdapat duplikasi, top yang paling sering muncul

count         9988
unique         793
top       WB-21850
freq            37
Name: customer_id, dtype: object

In [31]:
dataset['customer_id'].unique()

array(['CG-12520', 'DV-13045', 'SO-20335', 'BH-11710', 'AA-10480',
       'IM-15070', 'HP-14815', 'PK-19075', 'AG-10270', 'ZD-21925',
       'KB-16585', 'SF-20065', 'EB-13870', 'EH-13945', 'TB-21520',
       'MA-17560', 'GH-14485', 'SN-20710', 'LC-16930', 'RA-19885',
       'ES-14080', 'ON-18715', 'PO-18865', 'LH-16900', 'DP-13000',
       'JM-15265', 'TB-21055', 'KM-16720', 'PS-18970', 'BS-11590',
       'KD-16270', 'HM-14980', 'JE-15745', 'KB-16600', 'SC-20770',
       'DN-13690', 'JC-16105', 'CS-12400', 'PG-18895', 'GM-14455',
       'JS-15685', 'KB-16315', 'RB-19705', 'PN-18775', 'KD-16345',
       'ER-13855', 'RB-19465', 'GZ-14470', 'LC-16870', 'JM-15250',
       'PA-19060', 'CV-12805', 'CL-12565', 'RC-19960', 'DK-13090',
       'GG-14650', 'SC-20725', 'AD-10180', 'PF-19165', 'TS-21610',
       'LS-16975', 'DW-13585', 'LC-16885', 'JD-15895', 'SH-19975',
       'SG-20080', 'HA-14920', 'MG-17680', 'JE-16165', 'TW-21025',
       'SP-20650', 'NK-18490', 'DB-13060', 'NP-18670', 'TT-21070',
       'EM-13960', 'RD-19900', 'MJ-17740', 'BM-11140', 'CS-12130',
       'JB-15400', 'SJ-20500', 'JK-15640', 'DK-13150', 'RM-19675',
       'SK-19990', 'FM-14290', 'AM-10360', 'MP-17470', 'MZ-17515',
       'CB-12025', 'VM-21685', 'FH-14365', 'MB-17305', 'BS-11755',
       'LC-17140', 'HK-14890', 'LE-16810', 'JH-15985', 'MS-17980',
       'VW-21775', 'JH-15910', 'JB-15925', 'DS-13180', 'VD-21670',
       'EA-14035', 'DB-13120', 'KL-16645', 'DW-13480', 'LH-17155',
       'KC-16540', 'DL-13315', 'DR-12880', 'CC-12670', 'Dl-13600',
       'SB-20290', 'RC-19825', 'AH-10210', 'CB-12535', 'CA-12310',
       'KH-16690', 'BB-10990', 'AG-10495', 'JO-15280', 'AH-10195',
       'NZ-18565', 'KL-16555', 'AS-10225', 'CR-12625', 'SH-20395',
       'BP-11185', 'TS-21205', 'AG-10525', 'SP-20860', 'NM-18445',
       'FA-14230', 'GK-14620', 'DJ-13510', 'PO-18850', 'JL-15850',
       'DB-13615', 'AC-10420', 'CC-12550', 'TD-20995', 'AB-10060',
       'JL-15505', 'VB-21745', 'KW-16435', 'JD-16060', 'MK-17905',
       'GT-14755', 'AG-10900', 'MM-18280', 'AR-10405', 'RA-19915',
       'AS-10285', 'LA-16780', 'DO-13435', 'DK-13225', 'NG-18430',
       'MV-18190', 'JG-15115', 'BP-11095', 'VP-21730', 'SS-20140',
       'AG-10675', 'LF-17185', 'RF-19840', 'KH-16510', 'KC-16675',
       'CJ-12010', 'PB-19150', 'MP-17965', 'NF-18385', 'SD-20485',
       'KH-16630', 'RB-19795', 'MK-18160', 'PO-19180', 'BB-11545',
       'TB-21595', 'RB-19360', 'EB-13705', 'SC-20095', 'TN-21040',
       'JS-15940', 'MH-17785', 'JP-15520', 'JE-15475', 'JG-15805',
       'XP-21865', 'EM-14065', 'MT-18070', 'SA-20830', 'CW-11905',
       'AJ-10960', 'SS-20590', 'RO-19780', 'MD-17350', 'MY-17380',
       'CM-12385', 'LS-17245', 'BN-11515', 'DB-13210', 'MC-17605',
       'BD-11605', 'PH-18790', 'MG-18145', 'KB-16240', 'JC-15340',
       'RL-19615', 'AA-10375', 'EP-13915', 'DK-12985', 'BD-11500',
       'LM-17065', 'AS-10135', 'BD-11320', 'GT-14710', 'AJ-10945',
       'OT-18730', 'LP-17080', 'CA-12775', 'JF-15490', 'FP-14320',
       'EB-13840', 'JF-15415', 'SF-20200', 'TG-21640', 'CS-11950',
       'CC-12145', 'DV-13465', 'BD-11725', 'ZC-21910', 'MS-17830',
       'LR-16915', 'TP-21130', 'CK-12205', 'AS-10240', 'AR-10510',
       'NB-18655', 'GD-14590', 'CK-12595', 'NG-18355', 'CA-12265',
       'SF-20965', 'MO-17800', 'AT-10735', 'FM-14380', 'DJ-13420',
       'ME-17725', 'JD-16150', 'JL-15835', 'SC-20305', 'CC-12430',
       'AR-10825', 'SR-20740', 'CR-12730', 'EH-14125', 'SP-20545',
       'TH-21235', 'RP-19390', 'RB-19570', 'CD-11980', 'DJ-13630',
       'GT-14635', 'MC-17845', 'RA-19285', 'NP-18325', 'AB-10165',
       'JO-15550', 'JK-15370', 'BN-11470', 'DP-13165', 'TH-21550',
       'AP-10915', 'RS-19765', 'SV-20365', 'CK-12325', 'RD-19810',
       'MR-17545', 'SC-20695', 'JF-15355', 'EG-13900', 'DS-13030',
       'PO-19195', 'SS-20875', 'PB-19105', 'RF-19735', 'YC-21895',
       'DC-13285', 'CP-12340', 'BF-11020', 'LH-17020', 'CS-12250',
       'AJ-10795', 'BV-11245', 'DL-12865', 'BM-11785', 'LT-17110',
       'JK-15730', 'ES-14020', 'RH-19495', 'CD-11920', 'HW-14935',
       'MC-18130', 'GM-14440', 'PJ-19015', 'BW-11110', 'TR-21325',
       'PG-18820', 'JL-15175', 'BM-11650', 'EM-14095', 'AF-10885',
       'GA-14725', 'CK-12760', 'DP-13105', 'BK-11260', 'SJ-20125',
       'CM-12445', 'AJ-10780', 'LS-16945', 'GP-14740', 'PK-18910',
       'SM-20005', 'AG-10765', 'PM-19135', 'LL-16840', 'JS-15595',
       'EL-13735', 'PC-18745', 'HL-15040', 'MS-17365', 'GB-14530',
       'JR-16210', 'BE-11335', 'SC-20050', 'RW-19630', 'SE-20110',
       'AH-10075', 'JM-15535', 'JJ-15760', 'RK-19300', 'CG-12040',
       'RP-19270', 'KC-16255', 'KH-16360', 'GH-14665', 'SW-20275',
       'JA-15970', 'DL-12925', 'LW-16990', 'TB-21190', 'BS-11800',
       'RW-19690', 'TZ-21580', 'AS-10630', 'TS-21340', 'SL-20155',
       'MW-18235', 'RD-19585', 'RA-19945', 'MT-17815', 'VG-21790',
       'JS-15880', 'KM-16225', 'HR-14770', 'DE-13255', 'AG-10390',
       'JJ-15445', 'JH-15430', 'RD-19660', 'MO-17500', 'NS-18640',
       'DG-13300', 'NF-18595', 'MG-17650', 'TS-21160', 'BD-11620',
       'CM-12160', 'SN-20560', 'EH-14005', 'FO-14305', 'MS-17710',
       'CC-12100', 'DW-13540', 'BT-11395', 'CY-12745', 'BT-11485',
       'PS-19045', 'PV-18985', 'NM-18520', 'DL-13495', 'CS-12355',
       'FH-14275', 'NC-18340', 'AA-10315', 'LT-16765', 'AP-10720',
       'PM-18940', 'AT-10435', 'CA-12055', 'HR-14830', 'BT-11530',
       'LH-16750', 'SW-20755', 'SP-20620', 'BF-11170', 'KT-16480',
       'BG-11695', 'GM-14680', 'EJ-14155', 'NP-18700', 'MH-18115',
       'JR-15700', 'SM-20950', 'CC-12220', 'PF-19225', 'DC-12850',
       'BD-11770', 'GM-14500', 'TB-21355', 'JH-16180', 'EB-13975',
       'QJ-19255', 'TC-21535', 'CS-12460', 'HG-14965', 'LW-16825',
       'MC-17575', 'LP-17095', 'EB-14170', 'GZ-14545', 'CP-12085',
       'FG-14260', 'LD-17005', 'AB-10255', 'MN-17935', 'JR-15670',
       'JF-15190', 'CM-12115', 'AS-10045', 'BP-11290', 'ND-18370',
       'LB-16735', 'KT-16465', 'HM-14860', 'AB-10600', 'SZ-20035',
       'MG-17890', 'JK-16120', 'PP-18955', 'YS-21880', 'KM-16375',
       'AB-10105', 'HA-14905', 'BT-11305', 'SV-20815', 'RW-19540',
       'DK-12835', 'ST-20530', 'MM-17920', 'PW-19030', 'SC-20440',
       'TS-21085', 'MC-17425', 'ME-17320', 'NH-18610', 'MB-18085',
       'KD-16495', 'KN-16390', 'NP-18685', 'CS-12505', 'MS-17770',
       'CM-12655', 'Co-12640', 'TS-21370', 'JW-15220', 'JD-15790',
       'PC-19000', 'AR-10540', 'AI-10855', 'TB-21400', 'PL-18925',
       'GH-14425', 'MP-18175', 'JM-15655', 'CL-11890', 'DB-13270',
       'IG-15085', 'BO-11425', 'AB-10150', 'JW-16075', 'EB-13750',
       'SG-20470', 'CM-12190', 'AW-10840', 'MC-18100', 'TT-21460',
       'VG-21805', 'MY-18295', 'RD-19480', 'DP-13390', 'ML-17395',
       'JC-15385', 'JG-15160', 'MC-17275', 'NW-18400', 'TB-21280',
       'BS-11380', 'HH-15010', 'CD-12280', 'TH-21100', 'MM-18055',
       'NS-18505', 'RB-19645', 'SW-20455', 'EB-13930', 'PS-18760',
       'HF-14995', 'HZ-14950', 'CD-12790', 'JK-15205', 'FM-14215',
       'ED-13885', 'DA-13450', 'JW-15955', 'RM-19375', 'ML-17755',
       'CC-12685', 'JE-15610', 'RP-19855', 'TB-21175', 'BE-11455',
       'JF-15565', 'PB-19210', 'BT-11680', 'JL-15235', 'CH-12070',
       'ND-18460', 'BF-10975', 'KH-16330', 'GW-14605', 'NC-18625',
       'ME-18010', 'BP-11230', 'JC-15775', 'AS-10090', 'AC-10450',
       'MD-17860', 'DB-13660', 'EH-13990', 'EH-13765', 'SC-20230',
       'JE-15715', 'AC-10615', 'JD-16015', 'CB-12415', 'JS-16030',
       'LW-17215', 'SC-20800', 'AM-10705', 'RH-19510', 'CT-11995',
       'MC-17590', 'CC-12610', 'KA-16525', 'TC-20980', 'BF-11080',
       'MM-17260', 'AH-10120', 'BW-11200', 'SW-20245', 'BS-11665',
       'RF-19345', 'WB-21850', 'TB-21625', 'AF-10870', 'RB-19435',
       'KF-16285', 'JH-15820', 'IL-15100', 'PB-18805', 'RH-19600',
       'AW-10930', 'ML-17410', 'DB-13555', 'MH-17620', 'DK-13375',
       'BT-11440', 'DB-13405', 'TG-21310', 'BF-11005', 'JM-16195',
       'MZ-17335', 'MW-18220', 'MV-17485', 'SM-20320', 'TP-21415',
       'JK-15625', 'PJ-18835', 'RS-19420', 'SV-20935', 'BC-11125',
       'EM-13825', 'BM-11575', 'KN-16705', 'KW-16570', 'SC-20260',
       'CV-12295', 'SG-20605', 'TM-21010', 'EM-13810', 'ML-18040',
       'CR-12580', 'AZ-10750', 'PW-19240', 'SC-20380', 'CM-11935',
       'GM-14695', 'TB-21250', 'JM-15865', 'SC-20575', 'LS-17200',
       'RR-19315', 'DB-12910', 'TT-21220', 'LO-17170', 'KD-16615',
       'NB-18580', 'BD-11635', 'CM-12235', 'EN-13780', 'KN-16450',
       'BO-11350', 'AG-10300', 'MC-17635', 'TA-21385', 'JF-15295',
       'TT-21265', 'SB-20170', 'CL-12700', 'HG-15025', 'NL-18310',
       'RR-19525', 'TC-21295', 'SV-20785', 'BE-11410', 'SC-20680',
       'DF-13135', 'FH-14350', 'MS-17530', 'RH-19555', 'GA-14515',
       'JP-16135', 'Dp-13240', 'MO-17950', 'DL-13330', 'MH-18025',
       'DR-12940', 'DM-13015', 'CA-11965', 'AC-10660', 'DM-13345',
       'VF-21715', 'CC-12370', 'BF-11275', 'HG-14845', 'BP-11155',
       'EM-14140', 'MA-17995', 'AY-10555', 'GB-14575', 'JB-16045',
       'MG-17875', 'SR-20425', 'JB-16000', 'DM-12955', 'TC-21475',
       'SW-20350', 'RE-19450', 'BF-11215', 'KB-16405', 'JG-15310',
       'EC-14050', 'EB-14110', 'JP-15460', 'CS-11845', 'GH-14410',
       'PT-19090', 'JL-15130', 'AH-10030', 'CC-12475', 'DW-13195',
       'SJ-20215', 'BG-11740', 'LB-16795', 'CM-11815', 'EH-14185',
       'TS-21505', 'PR-18880', 'LC-17050', 'CS-12490', 'DH-13075',
       'JO-15145', 'AH-10690', 'HJ-14875', 'MH-17455', 'RD-19930',
       'SC-20020', 'SU-20665', 'FC-14335', 'RB-19330', 'NC-18535',
       'DB-12970', 'MF-17665', 'RM-19750', 'VM-21835', 'EJ-13720',
       'NC-18415', 'LS-17230', 'KE-16420', 'DH-13675', 'PF-19120',
       'VT-21700', 'MG-17695', 'SP-20920', 'CS-12175', 'DK-12895',
       'KM-16660', 'AA-10645', 'DD-13570', 'AH-10465', 'TP-21565',
       'EK-13795', 'CR-12820', 'SG-20890', 'AH-10585', 'NF-18475',
       'BS-11365', 'SH-20635', 'RD-19720', 'AG-10330', 'GR-14560',
       'VS-21820', 'TM-21490', 'TS-21430', 'DB-13360', 'NR-18550',
       'CS-11860', 'MF-18250', 'LW-17125', 'AR-10345', 'KS-16300',
       'AB-10015', 'LR-17035', 'SS-20410', 'JM-15580', 'JK-15325',
       'DM-13525', 'ML-18265', 'MH-17290', 'FC-14245', 'TH-21115',
       'JK-16090', 'SB-20185', 'BG-11035', 'BW-11065', 'MG-18205',
       'DO-13645', 'BP-11050', 'TS-21655', 'EM-14200', 'AO-10810',
       'MH-17440', 'SS-20515', 'LD-16855', 'VP-21760', 'TC-21145',
       'IM-15055', 'AR-10570', 'CM-12715', 'FW-14395', 'LC-16960',
       'HE-14800', 'BD-11560', 'HD-14785', 'CJ-11875', 'RS-19870',
       'SC-20845', 'RE-19405', 'SM-20905'], dtype=object)

In [32]:
# mengetahui jumlah kemunculan nama untuk setiap namanya
dataset['customer_id'].value_counts().head()

WB-21850    37
PP-18955    34
MA-17560    34
JL-15835    34
CK-12205    32
Name: customer_id, dtype: int64

### L. Mengenal Mapping

Terdapat dua mekanisme mapping pada DataFrame, yaitu: dengan memanfaatkan method **map** dan method **apply**.

* **Mengenal method map**

Diterapkan di tingkat Series artinya diterapkan pada satu kolom saja

In [33]:
sales_mean = dataset['sales'].mean()
dataset['sales'].map(lambda p: p - sales_mean)

0        40.007402
1       509.987402
2      -207.332598
3       735.624902
4      -199.584598
           ...
9983   -196.704598
9984   -129.992598
9985     36.623402
9986   -192.352598
9987     21.207402
Name: sales, Length: 9988, dtype: float64

* **Mengenal method apply**

Diterapkan di tingkat DataFrame

In [34]:
sales_mean = dataset['sales'].mean()

def remean_sales(row):
    row['sales'] = row['sales'] - sales_mean
    return row

dataset.apply(remean_sales, axis = 'columns').head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,rating,index_backwards
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,40.007402,2,41.9136,satisfied,9988
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,509.987402,3,219.5820,satisfied,9987
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,-207.332598,2,6.8714,satisfied,9986
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,735.624902,5,-383.0310,satisfied,9985
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,-199.584598,2,2.5164,satisfied,9984

### Alternatif lain dengan built-in operations

Mekanisme ini lebih cepat dan efisien (bila dibandingkan map dan apply) tetapi tidak bisa menangani pemrosesan yang kompleks.

In [35]:
sales_mean = dataset['sales'].mean()
dataset['sales'] - sales_mean

0        40.007402
1       509.987402
2      -207.332598
3       735.624902
4      -199.584598
           ...
9983   -196.704598
9984   -129.992598
9985     36.623402
9986   -192.352598
9987     21.207402
Name: sales, Length: 9988, dtype: float64

In [36]:
dataset['category'] + ' - ' + dataset['sub_category']

0              Furniture - Bookcases
1                 Furniture - Chairs
2           Office Supplies - Labels
3                 Furniture - Tables
4          Office Supplies - Storage
                    ...
9983         Furniture - Furnishings
9984         Furniture - Furnishings
9985             Technology - Phones
9986         Office Supplies - Paper
9987    Office Supplies - Appliances
Length: 9988, dtype: object

**Kasus: Mencari customer_id dengan proporsi quantity/sales tertinggi dengan memanfaatkan method idmax**

In [37]:
# artinya mencari perbandingan proporsi quantity terhadap sales kemudian mencari nilai terbesar namun kita ingin tahu id dari nilai terbesar tersebut
dataset.loc[(dataset['quantity']/dataset['sales']).idxmax(), 'customer_id']

'LO-17170'

In [38]:
dataset['customer_id'][(dataset['quantity']/dataset['sales']).idxmax()]

'LO-17170'

**Kasus: Mencari jumlah dari category furniture dan technology. Siapkan series untuk menampung jumlah dari kedua data**

In [39]:
n_furniture = dataset['category'].map(lambda cat : 'Furniture' in cat).sum()
n_technology = dataset['category'].map(lambda cat : 'Technology' in cat).sum()
pd.Series([n_furniture, n_technology], index = ['furniture', 'technology'])

furniture     2121
technology    1841
dtype: int64

### Analisis terhadap sekelompok data

**Kasus: Menghitung jumlah data (row/baris) untuk tiap segment**

* Cara pertama: dengan memanfaatkan method value_counts

In [40]:
dataset['segment'].value_counts().head()

Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

* Cara kedua: mengelompokkan data pada DataFrame terlebih dahulu dengan memanfaatkan method groupby

In [41]:
dataset.groupby('segment')['segment'].count().head()

segment
Consumer       5188
Corporate      3019
Home Office    1781
Name: segment, dtype: int64

**Kasus : mendata customer_id beserta jumlah transaksi yang pernah dilakukan**

In [42]:
dataset.groupby('customer_id')['customer_id'].count().head()

customer_id
AA-10315    11
AA-10375    15
AA-10480    12
AA-10645    18
AB-10015     6
Name: customer_id, dtype: int64

**Kasus : Mencari sales terendah dari setiap customer_id**

In [45]:
dataset.groupby('customer_id')['sales'].min().head()

customer_id
AA-10315     2.304
AA-10375     5.248
AA-10480     7.640
AA-10645     5.280
AB-10015    12.624
Name: sales, dtype: float64

**Kasus: menampilkan category untuk tiap segment dengan sales tertinggi**

Data category akan dikelompokkan terlebih dahulu berdasarkan segment, selanjutnya akan dicari category di tiap segment yang memiliki sales tertinggi

In [44]:
dataset.groupby('segment').apply(lambda df : df[ df['sales'] == df['sales'].max()])[['category']].head()

                         category
segment
Consumer    9033  Office Supplies
Corporate   4274       Technology
Home Office 7662       Technology

### M. Mengenal method agg

In [46]:
# mengelompokkan berdasarkan customer_id dan sales
dataset.groupby('customer_id')['sales'].agg([len, min, max]).head()

              len     min       max
customer_id
AA-10315     11.0   2.304  3930.072
AA-10375     15.0   5.248   499.980
AA-10480     12.0   7.640   479.970
AA-10645     18.0   5.280  1323.900
AB-10015      6.0  12.624   341.960

**Kasus: menampilkan sales terendah dan tertinggi untuk setiap segment**

In [47]:
dataset.groupby('segment')['sales'].agg(['min', 'max']).head()

               min      max
segment
Consumer     0.444  9892.74
Corporate    0.556  9099.93
Home Office  0.990  5399.91

### N. Mengenal pengurutan data (sorting)

Membuat DataFrame yang lebih sederhana dengan tiga kolom

In [48]:
dataset_simple = dataset[['segment', 'category', 'sales']]
dataset_simple.head()

     segment         category     sales
0   Consumer        Furniture  261.9600
1   Consumer        Furniture  731.9400
2  Corporate  Office Supplies   14.6200
3   Consumer        Furniture  957.5775
4   Consumer  Office Supplies   22.3680

**Mengurutkan data berdasarkan sales**

In [49]:
dataset_simple.sort_values(by = 'sales').head()

        segment         category  sales
4099   Consumer  Office Supplies  0.444
9286  Corporate  Office Supplies  0.556
8652  Corporate  Office Supplies  0.836
4708   Consumer  Office Supplies  0.852
2106  Corporate  Office Supplies  0.876

**Pengurutan secara descending (dari nilai terbesar ke nilai terkecil)**

In [50]:
dataset_simple.sort_values(by = 'sales', ascending = False).head()

        segment         category     sales
9033   Consumer  Office Supplies  9892.740
4096   Consumer  Office Supplies  9449.950
4274  Corporate       Technology  9099.930
8482   Consumer       Technology  8749.950
6422   Consumer       Technology  8399.976

In [52]:
dataset_simple.sort_values(by = ['segment', 'category']).head()

     segment   category      sales
0   Consumer  Furniture   261.9600
1   Consumer  Furniture   731.9400
3   Consumer  Furniture   957.5775
5   Consumer  Furniture    48.8600
10  Consumer  Furniture  1706.1840

**Kasus: menampilkan daftar harga terendah dan tertinggi untuk setiap segment, data diurutkan secara descending berdasarkan harga terendah dan diikuti harga tertinggi**

In [53]:
dataset.groupby('segment')['sales'].agg(['min', 'max']).sort_values(by = ['min', 'max'], ascending = False).head()

               min      max
segment
Home Office  0.990  5399.91
Corporate    0.556  9099.93
Consumer     0.444  9892.74

**Kasus: menampilkan rata-rata sales tiap segment**

In [55]:
dataset.groupby('segment')['sales'].mean().head()

segment
Consumer       218.273213
Corporate      228.104146
Home Office    222.242954
Name: sales, dtype: float64

**Kasus: menampilkan jumlah quantity tiap category untuk tiap jenis sub_category**

In [56]:
dataset.groupby(['category', 'sub_category'])['quantity'].count().sort_values(ascending=False).head(10)

category         sub_category
Office Supplies  Binders         1523
                 Paper           1370
Furniture        Furnishings      957
Technology       Phones           889
Office Supplies  Storage          846
                 Art              796
Technology       Accessories      775
Furniture        Chairs           617
Office Supplies  Appliances       466
                 Labels           364
Name: quantity, dtype: int64

### O. Mengubah nama kolom pad DataFrame

Perubahan nama kolom pada DataFrame dapat dilakukan dengan memanfaatkan method rename

In [57]:
dataset.rename(columns = {'sales' : 'total_sales'}).head()

,order_id,order_date,customer_id,segment,category,sub_category,total_sales,quantity,profit,rating,index_backwards
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,satisfied,9988
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,satisfied,9987
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,satisfied,9986
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,satisfied,9985
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,satisfied,9984

**Mengubah label/nama index dengan method rename_axis**

In [58]:
dataset.rename_axis('baris', axis = 'rows').head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,rating,index_backwards
baris,,,,,,,,,,,
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,satisfied,9988
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,satisfied,9987
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,satisfied,9986
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,satisfied,9985
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,satisfied,9984

In [59]:
dataset.rename_axis('baris', axis = 'rows').rename_axis('kolom', axis = 'columns').head()

kolom,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit,rating,index_backwards
baris,,,,,,,,,,,
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136,satisfied,9988
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820,satisfied,9987
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714,satisfied,9986
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310,satisfied,9985
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164,satisfied,9984

### P. Referensi

[1] medium.com. Pengenalan NumPy, Pandas, Matplotlib. Diakses pada 22 Mei 2020, dari https://medium.com/@yasirabd/pengenalan-numpy-pandas-matplotlib-b90bafd36c0

[2] youtube.com. [kaggle 02] Belajar Python Pandas untuk Data Science dengan Studi Kasus Dataset Kaggle. Diakses pada 22 Mei 2020, dari https://www.youtube.com/watch?v=UvpBJZ_UKk0&t=1473s