In [1]:
# 1
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
        x += 1
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [2]:
# 2
for num in range(10, 14):
    for i in range(2, num):
        if num%i == 1:
            print(num)
            break

10
11
12
13

In [3]:
# 3
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 +var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
# 4
x = 0
while(x<100) :
    x += 2
print(x)

100

In [5]:
# 5
class Sales :
    def __init__(self, id):
        self.id = id
        id = 100
        
val = Sales(123)
print(val.id)

123

In [6]:
# 6
def calculate(num1, num2 = 4):
    res = num1*num2
    print(res)
    
calculate(5, 6)

30

In [7]:
# 7
salary = 8000

def printSalary():
    salary = 12000
    print("Salary:", salary)
    
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [8]:
# 8
for x in range(0.5, 5.5, 0.5):
    print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [9]:
# 9
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},
          2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}

student[0][1]

KeyError: 0

In [10]:
student[1]["age"]

'27'

In [11]:
student[0]["age"]

KeyError: 0

In [12]:
# 10
a, b = 12, 5
if a + b:
    print('True')
else:
    print('False')

True

In [13]:
# 11
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

[30, 40, 50]
[10, 20, 30, 40]
[40, 50, 60, 70, 80]

In [14]:
# 12
def add(a, b):
    return a+5, b+5

result = add(3, 2)
print(result)

(8, 7)

In [15]:
# 13
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 60]

In [16]:
# 14
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [17]:
# 15
numbers = [10, 20]
items = ["Chair", "Table"]

for x in numbers:
    for y in items:
        print(x,y)

10 Chair
10 Table
20 Chair
20 Table

In [18]:
# 16
for i in range(1, 5):
    print(i)
else:
    print("this is else block statement")

1
2
3
4
this is else block statement

In [19]:
# 17
for num in range(-2, -5, -1):
    print(num, end=", ")

-2, -3, -4,

In [20]:
# 18
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [21]:
# 19
def outerFun(a, b):
    def innerFun(c, d):
        return c+d
    return innerFun(a, b)
    return a

result = outerFun(5, 10)
print(result)

15

In [23]:
# 20
student ={
    "name": "Emma",
    "class": 9,
    "marks": 75
}

m = student.get(2)
print(m)

None

In [25]:
m = student.get('marks')
print(m)

75

In [26]:
m = student[2]
print(m)

KeyError: 2

In [28]:
m = student['marks']
print(m)

75

In [29]:
# 21
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

TypeError: append() takes exactly one argument (2 given)

In [30]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125